// approvals_routes.go.snippet
/*
package routes

import (
	"github.com/go-chi/chi/v5"
	"backend/handler"
)

func RegisterApprovalRoutes(r chi.Router, h *handler.ApprovalHandler) {
	r.Route("/approvals", func(r chi.Router) {
		r.Post("/workflows", h.CreateWorkflow)
		r.Post("/requests", h.CreateRequest)
	})
}
*/
